extends base_layout

block scripts 

block content
    .text-center
      form(class="form-signin", action='/game/create' method='POST')
        h2 Create a new Game
            .col-xs-2 
                input#name(type="text", name="name", class="form-control", placeholder="Name" required autofocus)
                input#cash(type="text", name="cash", class="form-control", placeholder="Starting Cash" required autofocus)
                input#users(type="text", name="users[]", class="form-control", placeholder="User Name" required autofocus)
                ul#fieldList
                br
                button#addMore(class="btn btn-lg btn-primary btn-block") Add more users
                br
                button#createGame(type='submit', class="btn btn-lg btn-primary btn-block") Create Game
        style.
            ul {
            padding: 0;
            margin: 0;
            }
            ul li {
            list-style: none;
            }

    script(src="/scripts/games.js") 
